@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

:root {
	font-size: 20px;
  --blue: #598bfd;
  --indigo: #331177;
  --purple: #8e44ad;
  --red: #e74c3c;
  --orange: #f39c12;
  --yellow: #F4D03F;
  --green: #2ecc71;
  --teal: #27ae60;
  --cyan: #16a085;
  --white: #fff;
  --gray: #bdc3c7;
  --gray-light: #d9dcde;
  --gray-dark: #95a5a6;
  --primary: #03f1c5;
  --secondary: #6c757d;
  --success: #54d98c;
  --info: #1abc9c;
  --warning: #e67e22;
  --danger: #c0392b;
  --lighter: #f6f5f8;
  --light: #f0eff3;
	--light-2: #f0eff3;
	--light-3: #efedf5;
	--light-4: #e0ddec;
  --dark: #343a40;
  --dark-blue: #1f2029;
  --darker: #141414;
  --black: #080808;
}
body{
  font-family: 'Roboto', sans-serif;
	font-weight: 400;	
	font-size: 16px;
	line-height: 1.65;
	letter-spacing: 0.2px;
	color: var(--gray-dark);
	background-color: var(--white);
	overflow-x: hidden;
  transition: all 250ms linear;
}
p{
  font-family: 'Roboto', sans-serif;
	font-weight: 400;	
	font-size: 16px;
	line-height: 1.65;
  margin-bottom: 0.5rem;
	letter-spacing: 0.2px;
  color: var(--gray-dark);
  transition: all 250ms linear;
}
.lead{	
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.65;
  transition: all 250ms linear;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Muli', sans-serif;
	margin-bottom: 0.5rem;
	font-weight: 800;
	line-height: 1.25;
	letter-spacing: 1px;
	color: var(--dark-blue);
  transition: all 250ms linear;
}
h1, .h1 {
	font-size: 48px;
	line-height: 60px;
}
h2, .h2 {
	font-size: 36px;
	line-height: 46px;
}
h3, .h3 {
	font-size: 30px;
	line-height: 40px;
}
h4, .h4 {
	font-size: 24px;
	line-height: 32px;
}
h5, .h5 {
	font-size: 20px;
	line-height: 28px;
}
h6, .h6 {
	font-size: 17px;
	line-height: 24px;
}
::selection {
	color: var(--white);
	background-color: var(--primary);
}
::-moz-selection {
	color: var(--white);
	background-color: var(--primary);
}
mark{
	color: var(--white);
	background-color: var(--primary);
}
a:hover {
	text-decoration: none;
}

/* #Size
================================================== */

.size-12 {
    font-size: 12px;
}
.size-13 {
    font-size: 13px;
}
.size-14 {
    font-size: 14px;
}
.size-15 {
    font-size: 15px;
}
.size-16 {
    font-size: 16px;
}
.size-17 {
    font-size: 17px;
}
.size-18 {
    font-size: 18px;
}
.size-19 {
    font-size: 19px;
}
.size-20 {
    font-size: 20px;
}
.size-21 {
    font-size: 21px;
}
.size-22 {
    font-size: 22px;
}
.size-23 {
    font-size: 23px;
}
.size-24 {
    font-size: 24px;
}
.size-25 {
    font-size: 25px;
}
.size-26 {
    font-size: 26px;
}
.size-27 {
    font-size: 27px;
}
.size-28 {
    font-size: 28px;
}
.size-29 {
    font-size: 29px;
}
.size-30 {
    font-size: 30px;
}
.size-40 {
    font-size: 40px;
}
.size-50 {
    font-size: 50px;
}


/* #Colors
================================================== */

.color-blue {
    color: var(--blue);
}
.color-indigo {
    color: var(--indigo);
}
.color-purple {
    color: var(--purple);
}
.color-red {
    color: var(--red);
}
.color-orange {
    color: var(--orange);
}
.color-yellow {
    color: var(--yellow);
}
.color-green {
    color: var(--green);
}
.color-teal {
    color: var(--teal);
}
.color-cyan {
    color: var(--cyan);
}
.color-white {
    color: var(--white);
}
.color-gray {
    color: var(--gray);
}
.color-gray-light {
    color: var(--gray-light);
}
.color-gray-dark {
    color: var(--gray-dark);
}
.color-primary {
    color: var(--primary);
}
.color-secondary {
    color: var(--secondary);
}
.color-success {
    color: var(--success);
}
.color-info {
    color: var(--info);
}
.color-warning {
    color: var(--warning);
}
.color-danger {
    color: var(--danger);
}
.color-lighter {
    color: var(--lighter);
}
.color-light {
    color: var(--light-2);
}
.color-light-2 {
    color: var(--light-3);
}
.color-dark {
    color: var(--dark);
}
.color-darker {
    color: var(--darker);
}
.color-dark-blue {
    color: var(--dark-blue);
}
.color-black {
    color: var(--black);
}
.bg-blue {
    background-color: var(--blue);
}
.bg-indigo {
    background-color: var(--indigo);
}
.bg-purple {
    background-color: var(--purple);
}
.bg-red {
    background-color: var(--red);
}
.bg-orange {
    background-color: var(--orange);
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-green {
    background-color: var(--green);
}
.bg-teal {
    background-color: var(--teal);
}
.bg-cyan {
    background-color: var(--cyan);
}
.bg-white {
    background-color: var(--white);
}
.bg-gray {
    background-color: var(--gray);
}
.bg-gray-light {
    background-color: var(--gray-light);
}
.bg-gray-dark {
    background-color: var(--gray-dark);
}
.bg-primary {
    background-color: var(--primary) !important;
}
.bg-secondary {
    background-color: var(--secondary) !important;
}
.bg-success {
    background-color: var(--success) !important;
}
.bg-info {
    background-color: var(--info) !important;
}
.bg-warning {
    background-color: var(--warning) !important;
}
.bg-danger {
    background-color: var(--danger) !important;
}
.bg-lighter {
    background-color: var(--lighter) !important;
}
.bg-light {
    background-color: var(--light-2) !important;
}
.bg-light-2 {
    background-color: var(--light-2);
}
.bg-light-3 {
    background-color: var(--light-3) !important;
}
.bg-dark {
    background-color: var(--dark) !important;
}
.bg-dark-blue {
    background-color: var(--dark-blue) !important;
}
.bg-darker {
    background-color: var(--darker) !important;
}
.bg-black {
    background-color: var(--black) !important;
}
.bg-transparent {
    background-color: transparent !important;
}

/* #Elements
================================================== */

.section {
  position: relative;
	width: 100%;
	display: block;
}
.section-1400{
  position: relative;
	width: 100%;
	max-width: 1430px;
	display: block;
	margin: 0 auto;
  z-index: 3 !important;
}
.over-hide {
  overflow: hidden;
}
.padding-top-bottom-120 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.padding-top-120 {
	padding-top: 50px;
}
.padding-bottom-120 {
	padding-bottom: 50px;
}
.border-4 {
	border-radius: 4px;
}
.title-text-top {
	position: relative;
	display: inline-block;
}
.title-text-top::before {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	bottom: -3px;
	height: 2px;
	width: 100%;
	background-color: var(--primary);
	z-index: 2;
}
.btn{  
	height: 48px;
	font-size: 16px;
	font-weight: 500;
	-webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
	padding: 0 35px;
	letter-spacing: 0.2px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	border: none;
}
.btn-fluid{
	width: 100%;
}
.btn-pricing{
	color: var(--white);
  background-color: var(--success);
	height: 120px;
	border-radius: 0;
}
.btn-pricing:active,
.btn-pricing:focus,
.btn-pricing:hover{
	color: var(--white) !important;
  background-color: var(--dark-blue) !important;
}
.btn-pricing-2{
	color: var(--white);
    background-color: var(--orange);
	height: 120px;
	border-radius: 0;
}
.btn-pricing-2:active,
.btn-pricing-2:focus,
.btn-pricing-2:hover{
	color: var(--white) !important;
    background-color: var(--dark) !important;
}
.switch-pricing {
	position: relative;
	cursor: pointer;
	height: 50px;
	display: inline-block;
	width: 200px;
	border-radius: 4px;
	border: none;
	overflow: hidden;
	display: inline-block;
	background-color: var(--light-2);
  transition: all 250ms linear;
}
input[type="checkbox"]:checked + .switch-pricing {
}
.form-group input[type="checkbox"] {
	visibility: hidden;
	display: none;
}
.switch-pricing:after,
.switch-pricing:before {
	position: absolute;
  font-family: 'Roboto', sans-serif;
	font-weight: 500;
	content: 'Monthly';
	line-height: 50px;
	font-size: 16px;
	color: var(--white);
	text-align: center;
	left: 0;
	top: 0;
	background-color: var(--primary);
	width: 100px;
	height: 50px;
  transition: all 250ms linear;
}
.switch-pricing:after {
	content: 'Yearly';
	left: 100px;
	color: var(--dark);
	background-color: transparent;
}
input[type="checkbox"]:checked + .switch-pricing:before {
	color: var(--dark);
	background-color: transparent;
}
input[type="checkbox"]:checked + .switch-pricing:after {
	color: var(--white);
	background-color: var(--primary);
}
.pricing-opt-2 {
	position: absolute;
	left: 15px;
	top: 0;
	display: block;
	width: calc(100% - 30px);
	z-index: 2;
  transition: all 250ms linear;
	opacity: 0;
	pointer-events: none;
}
body.pricing-opt-body-2 .pricing-opt-2 {
	opacity: 1;
	pointer-events: auto;
}

body.pricing-opt-body-2 {
	background-color: var(--dark-blue);
}
body.pricing-opt-body-2 h3,
body.pricing-opt-body-2 h5 {
	color: var(--white);
}
body.pricing-opt-body-2 p {
	color: var(--light-2);
}
body.pricing-opt-body-2 .bg-light-2 {
	background-color: var(--black);
}

body.pricing-opt-body-2 .switch-pricing {
	background-color: var(--black);
  transition: all 250ms linear;
}
body.pricing-opt-body-2 .switch-pricing:before {
	color: var(--white)!important;
  transition: all 250ms linear;
}

body.pricing-opt-body-2 .price-tab-1 {
	opacity: 0 !important;
}

.left-off {
  position: absolute;
  left: 20px;
  top: -20px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
	margin-bottom: 0.5rem;
	font-weight: 900;
  font-size: 54px;
  text-align: right;
	line-height: 1;
	letter-spacing: 0;
	color: var(--dark);
  z-index: 4;
  transition: all 350ms linear;
}
body.pricing-opt-body-2 .left-off {
  top: -50px;
	opacity: 0;
}
.right-off {
  position: absolute;
  left: 20px;
  top: -50px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
	margin-bottom: 0.5rem;
	font-weight: 900;
  font-size: 54px;
  text-align: right;
	line-height: 1;
	letter-spacing: 0;
	color: var(--light-4);
  opacity: 0;
  z-index: 4;
  transition: all 350ms linear;
}
body.pricing-opt-body-2 .right-off {
  top: -20px;
	opacity: 1;
}
@media (max-width: 991px) { 
  .left-off {
    left: 0;
    text-align: center;
  }
  .right-off {
    left: 0;
    text-align: center;
  }
}
